@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #151515;

}

.background{
    width: 35rem;
    height: 15em;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.background img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid #892cdc;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.lv {
    border-left: 6px solid;
    max-height: 100px;
    min-height: 50px;
}

.nameDiv{
    width: 35rem;
    height: 5rem;
    background: #333341;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.nameDiv h1{
    color: #892cdc;
    margin-top: 1.5rem;
    letter-spacing: 1px;
}

.quemsou{
    width: 35rem;
    height: 14rem;
    background: #892cdc;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #333341;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.quemsou h1{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 25px;
    letter-spacing: 1px;
}

.quemsou p{
    font-size: 15px;
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
}

.socialMedia{
    width: 25rem;
    height: 7rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #892cdc;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.2s;
    text-align: center;
}

.smPurple{
    background: #892cdc;
    color: #333341;
    transition: ease-in-out 0.2s;
}

.smPurple:hover{
    background: #52057b;
    letter-spacing: 1px;
    color: white;
}

.smGrey{
    transition: ease-in-out 0.2s;
    background: #333341;
}

.smGrey:hover{
    letter-spacing: 1px;
    color: white;
    background: #24242e;
}

.socialMedia img{
    width: 20%;
    margin-left: 10px;
    height: 75%;
    border-radius: 60px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.socialMedia h2{
    width: 80%;
    height: 100%;
    margin-left: 10px;
    display: flex;

    align-items: center;
}